body {
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-family: "Open Sans", sans-serif;
  background-repeat: no-repeat;
  background-image: url("Bands.png");
  background-attachment: fixed;
  background-position: center;
  background-position: top;
  background-color: black
}
.btn-lg, active, pressed, hover, focus{
  color: #FFFFFF;
  background-color: firebrick;
  outline-style: none;
  position: center;
}
.modal-content{
  border-radius: 15px;
}
.modal-header, .modal-body, .modal-footer{
  background-color: #4F4141;
  color: #EFEDED;
}

.btn-default{
  background-color: #A7A0A0;
}
.btn-primary, active, pressed, hover{
  background-color: firebrick;
}
.center {
  margin: auto;
  width: 100%;
  padding: 550px;
}