body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-repeat: no-repeat;
  background-image: url("Bands.png");
  background-attachment: fixed;
  background-position: center;
  background-position: top;
  background-color: black
}
.btn-lg, active, pressed, hover, focus{
  color: #FFFFFF;
  background-color: firebrick;
  outline-style: none;
  position: center;
}
.modal-content{
  border-radius: 15px;
}
.modal-header, .modal-body, .modal-footer{
  background-color: #FFFFFF;
  color: #4A4A4A;
}


.center {
  margin: auto;
  width: 100%;
  padding: 550px;
}